<link rel="stylesheet" href="http://getbootstrap.com/examples/cover/cover.css">
<div class="site-wrapper-inner">
    <div class="cover-container">
        <div class="masthead clearfix">
            <div class="inner">
                <h3 class="masthead-brand">AngularJS-NodeJS-MongoDB</h3>
                <nav>
                    <ul class="nav masthead-nav">
                        <li class="active"><a href="#/home">Home</a></li>
                        <li><a href="#/products">Products</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="inner cover">
            <h1 class="cover-heading">Are you up to our Technical Challenge? </h1>
            <p class="lead">This is a AngularJs demo app.</p>
            <p class="lead">
                <a href="#/products" class="btn btn-lg btn-default">List products</a>
            </p>
        </div>
        <div class="mastfoot">
            <div class="inner">
                <p>App by Ovidiu Bularda</p>
            </div>
        </div>
    </div>
</div>